@charset "UTF-8";
/* Play/Pause Control */
.slick-pause {
  position: absolute;
  z-index: 10;
  flex: 0 0 auto;
  margin: 0;
  padding: 0.25em 0.25em 0;
  border: none;
  background: transparent;
  outline: none;
}
.slick-pause svg .background {
  stroke: black;
  fill: black;
  stroke-width: 1px;
  opacity: 0.6;
}
.slick-pause svg .border {
  fill: transparent;
  stroke: transparent;
  stroke-width: 2px;
}
.slick-pause svg .pause {
  stroke-width: 4;
  fill: transparent;
  stroke: transparent;
}
.slick-pause svg .play {
  stroke-width: 1;
  fill: transparent;
  stroke: transparent;
}
.slick-pause.pause svg .pause {
  fill: white;
  stroke: white;
}
.slick-pause.play svg .play {
  fill: white;
  stroke: white;
}
.slick-pause svg polygon {
  fill: white;
  stroke: white;
}
.slick-pause:focus svg .background,
.slick-pause:hover svg .background,
.slick-pause:hover svg .border {
  fill: #000;
  stroke: #000;
  opacity: 1;
}
.slick-pause:focus svg .border {
  stroke: white;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto !important;
  right: -25px !important;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}
.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px !important;
  right: auto !important;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: #000000;
  opacity: 0.75;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
/*******************************************************************
DIN NEXT Font
*******************************************************************/
.section-header {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin: 30px auto 30px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}
.noise-gif {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: .17;
  background-image: url('../images/common-noise-gif-square-anim.gif');
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}
@keyframes arrow {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    -ms-transform: translate(0, 2px);
    -o-transform: translate(0, 2px);
    transform: translate(0, 2px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 8px);
    -moz-transform: translate(0, 8px);
    -ms-transform: translate(0, 8px);
    -o-transform: translate(0, 8px);
    transform: translate(0, 8px);
  }
  75%,
  100% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0;
  }
}
#atvi-hero-container {
  height: 100vh;
  min-height: 630px;
  max-height: 1024px;
  font-family: 'DIN Next LT Pro', Arial, sans-serif;
  font-weight: normal;
}
@media only screen and (max-width: 768px) {
  #atvi-hero-container {
    height: 100vh;
    min-height: 600px;
  }
}
#atvi-hero-container #atvi-hero-inner-container {
  height: 100%;
  overflow: visible;
}
#atvi-hero-container #atvi-hero-inner-container .slick-list,
#atvi-hero-container #atvi-hero-inner-container .slick-track {
  height: 100%;
}
#atvi-hero-container #atvi-hero-inner-container .slick-list .slick-slide > div,
#atvi-hero-container #atvi-hero-inner-container .slick-track .slick-slide > div {
  height: 100%;
  position: relative;
}
#atvi-hero-container #atvi-hero-inner-container .slick-pause {
  display: none;
}
@media only screen and (max-width: 768px) {
  #atvi-hero-container #atvi-hero-inner-container:after {
    background-image: url(../images/common-rainbowLinesFooter.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    content: "";
    height: 134px;
    z-index: 2;
    left: 0;
    bottom: -67px;
    position: absolute;
    width: 100%;
  }
}
#atvi-hero-container .hero-slide {
  position: relative;
  height: 100%;
  overflow: hidden;
}
#atvi-hero-container .hero-media {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#atvi-hero-container .hero-media .hero-bg-media {
  overflow: hidden;
  z-index: -1;
}
#atvi-hero-container .hero-media .hero-bg-video {
  position: absolute;
  object-fit: cover;
  height: 101%;
  width: 100%;
}
#atvi-hero-container .hero-media .hero-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#atvi-hero-container .hero-media .hero-bg-gradient {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.15) 48.85%);
  height: 101%;
}
@media only screen and (max-width: 768px) {
  #atvi-hero-container .hero-media .hero-bg-gradient {
    background: linear-gradient(90deg, #000000 -39.87%, rgba(0, 0, 0, 0.15) 126.93%);
  }
}
#atvi-hero-container .hero-slide-content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 52%;
  width: 100%;
  max-width: 1800px;
  padding: 0 6%;
}
@media only screen and (max-width: 1024px) {
  #atvi-hero-container .hero-slide-content-container {
    padding: 0 5%;
  }
}
@media only screen and (max-width: 768px) {
  #atvi-hero-container .hero-slide-content-container {
    padding: 10vh 5% 0;
  }
}
#atvi-hero-container .hero-slide-content-container .hero-slide-inner-container {
  
}
@media only screen and (max-width: 1024px) {
  #atvi-hero-container .hero-slide-content-container .hero-slide-inner-container {
    margin: auto;
  }
}
#atvi-hero-container .hero-slide-content-container .hero-slide-logo {
  height: auto;
  max-width: 100%;
  max-height: 200px;
  margin: 0 auto 15px;
}
#atvi-hero-container .hero-slide-content-container .hero-slide-logo-2 {
  height: auto;
  max-width: 100%;
  max-height: 200px;
  margin: 15px auto;
}
#atvi-hero-container .hero-slide-content-container .hero-slide-copy {
  margin-bottom: 25px;
  color: #FFF;
  font-size: 28px;
  line-height: 1.4;
  font-weight: 500;
  text-align: center;
}
@media only screen and (max-width: 1500px) {
  #atvi-hero-container .hero-slide-content-container .hero-slide-copy {
    font-size: 24px;
  }
}
@media only screen and (max-width: 768px) {
  #atvi-hero-container .hero-slide-content-container .hero-slide-copy {
    font-size: 21px;
    width: 83%;
    max-width: 350px;
    margin: 0 auto 2vh;
  }
}
#atvi-hero-container .hero-slide-content-container .hero-slide-cta-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 768px) {
  #atvi-hero-container .hero-slide-content-container .hero-slide-cta-container {
    flex-direction: column;
  }
}
@media screen and (max-height: 650px) {
  #atvi-hero-container .hero-slide-content-container .hero-slide-cta-container {
    /* CTA side-by-side for shorter screens */
    flex-direction: row;
  }
}
#atvi-hero-container .hero-slide-content-container .hero-slide-cta-container .hero-slide-cta {
  width: 45%;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  #atvi-hero-container .hero-slide-content-container .hero-slide-cta-container .hero-slide-cta {
    width: 80%;
    max-width: 300px;
    margin-bottom: 8px;
  }
}
@media screen and (max-height: 650px) {
  #atvi-hero-container .hero-slide-content-container .hero-slide-cta-container .hero-slide-cta {
    margin: 0 1% 8px;
  }
}
#atvi-hero-container .hero-slide-content-container .hero-slide-cta-container .hero-slide-cta.hero-slide-cta-1 a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.1;
  border: 1px solid transparent;
  padding: 1em 0;
  border-radius: 24px;
  margin: auto;
  display: block;
  text-align: center;
  transition: box-shadow 250ms ease-out, border 300ms ease-out, background 300ms ease-out;
  box-shadow: inset 0 0 0 1px #ffffff;
  font-family: 'DIN Next LT Pro', Arial, sans-serif;
  font-weight: bold;
  background: rgba(175, 99, 7, 0.7);
  box-shadow: inset 0 0 0 1px #ae4805;
}
#atvi-hero-container .hero-slide-content-container .hero-slide-cta-container .hero-slide-cta.hero-slide-cta-1 a:hover,
#atvi-hero-container .hero-slide-content-container .hero-slide-cta-container .hero-slide-cta.hero-slide-cta-1 a:active {
  background: rgba(215, 113, 17, 0.991);
  border: 1px solid #ff8534;
  box-shadow: inset 0 0 0 2px #ca5f18;
}
#atvi-hero-container .hero-slide-content-container .hero-slide-cta-container .hero-slide-cta.hero-slide-cta-2 a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.1;
  border: 1px solid transparent;
  padding: 1em 0;
  border-radius: 24px;
  margin: auto;
  display: block;
  text-align: center;
  transition: box-shadow 250ms ease-out, border 300ms ease-out, background 300ms ease-out;
  box-shadow: inset 0 0 0 1px #ffffff;
  font-family: 'DIN Next LT Pro', Arial, sans-serif;
  font-weight: bold;
}
#atvi-hero-container .hero-slide-content-container .hero-slide-cta-container .hero-slide-cta.hero-slide-cta-2 a:hover,
#atvi-hero-container .hero-slide-content-container .hero-slide-cta-container .hero-slide-cta.hero-slide-cta-2 a:active {
  background: rgba(215, 113, 17, 0.991);
  border: 1px solid #ff8534;
  box-shadow: inset 0 0 0 2px #ca5f18;
}
#atvi-hero-container .hero-slide-rating {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
#atvi-hero-container .hero-slide-rating .hero-slide-rating-logo {
  width: 130px;
  display: block;
}
@media only screen and (max-width: 1024px) {
  #atvi-hero-container .hero-slide-rating {
    top: 67px;
    right: 7px;
  }
  #atvi-hero-container .hero-slide-rating .hero-slide-rating-logo {
    max-width: 100px;
    width: 26vw;
  }
}
#atvi-hero-container .hero-navigation {
  position: relative;
  z-index: 3;
}
#atvi-hero-container .hero-navigation .hero-nav-bg {
  position: absolute;
  width: 20%;
  max-width: 430px;
  background: rgba(0, 0, 0, 0.5);
  height: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 24px;
  bottom: 4em;
}
@media only screen and (max-width: 1500px) {
  #atvi-hero-container .hero-navigation .hero-nav-bg {
    width: 25%;
  }
}
@media only screen and (max-width: 1024px) {
  #atvi-hero-container .hero-navigation .hero-nav-bg {
    width: 40%;
  }
}
@media screen and (max-height: 750px) {
  #atvi-hero-container .hero-navigation .hero-nav-bg {
    bottom: 1.7em;
  }
}
@media only screen and (max-width: 600px) {
  #atvi-hero-container .hero-navigation .hero-nav-bg {
    width: 85%;
    bottom: 2em;
  }
}
#atvi-hero-container .hero-navigation .hero-nav-arrows {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  max-width: 400px;
  display: flex;
  width: 20%;
  justify-content: space-between;
  bottom: 4em;
  height: 50px;
}
@media only screen and (max-width: 1500px) {
  #atvi-hero-container .hero-navigation .hero-nav-arrows {
    width: 25%;
  }
}
@media only screen and (max-width: 1024px) {
  #atvi-hero-container .hero-navigation .hero-nav-arrows {
    width: 40%;
  }
}
@media screen and (max-height: 750px) {
  #atvi-hero-container .hero-navigation .hero-nav-arrows {
    bottom: 1.7em;
  }
}
@media only screen and (max-width: 600px) {
  #atvi-hero-container .hero-navigation .hero-nav-arrows {
    width: 85%;
    bottom: 2em;
  }
}
#atvi-hero-container .hero-navigation .hero-nav-arrows .slick-arrow {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  background: url('data:image/svg+xml;utf8,<svg width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M21.4258 8.45722L15.7255 14.3118C15.3393 14.6476 14.5983 14.786 14.1669 14.3979C13.7415 14.016 13.754 13.2748 14.1779 12.8912L18.1859 8.77991L1.86567 8.77991C1.27534 8.77991 0.796874 8.3174 0.796874 7.74675C0.796874 7.17611 1.27534 6.71359 1.86567 6.71359L18.1859 6.71359L14.1779 2.60231C13.8127 2.24897 13.7458 1.48202 14.1669 1.09562C14.5876 0.70887 15.3547 0.832504 15.7255 1.18171L21.4258 7.03628C21.6207 7.23672 21.7158 7.47193 21.7151 7.74675C21.7051 7.99299 21.6004 8.27745 21.4258 8.45722Z" fill="%23B3B6B7"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  width: 21px;
  background-position: center;
  position: static;
  height: 100%;
  margin: 0 25px;
}
#atvi-hero-container .hero-navigation .hero-nav-arrows .slick-arrow:hover {
  background: url('data:image/svg+xml;utf8,<svg width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M21.4258 8.45722L15.7255 14.3118C15.3393 14.6476 14.5983 14.786 14.1669 14.3979C13.7415 14.016 13.754 13.2748 14.1779 12.8912L18.1859 8.77991L1.86567 8.77991C1.27534 8.77991 0.796874 8.3174 0.796874 7.74675C0.796874 7.17611 1.27534 6.71359 1.86567 6.71359L18.1859 6.71359L14.1779 2.60231C13.8127 2.24897 13.7458 1.48202 14.1669 1.09562C14.5876 0.70887 15.3547 0.832504 15.7255 1.18171L21.4258 7.03628C21.6207 7.23672 21.7158 7.47193 21.7151 7.74675C21.7051 7.99299 21.6004 8.27745 21.4258 8.45722Z" fill="%23FFF"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  width: 21px;
  background-position: center;
  position: static;
  height: 100%;
  margin: 0 25px;
}
#atvi-hero-container .hero-navigation .hero-nav-arrows .slick-arrow:before {
  content: "";
}
#atvi-hero-container .hero-navigation .hero-nav-arrows .slick-next {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#atvi-hero-container .hero-navigation .hero-nav-arrows .slick-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#atvi-hero-container .hero-navigation .hero-nav-dots .slick-dots {
  max-width: 140px;
  min-width: 110px;
  width: 15%;
  padding: 0.5em;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 24px;
  bottom: 4em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}
@media only screen and (max-width: 1500px) {
  #atvi-hero-container .hero-navigation .hero-nav-dots .slick-dots {
    width: 25%;
  }
}
@media screen and (max-height: 750px) {
  #atvi-hero-container .hero-navigation .hero-nav-dots .slick-dots {
    bottom: 1.7em;
  }
}
@media only screen and (max-width: 600px) {
  #atvi-hero-container .hero-navigation .hero-nav-dots .slick-dots {
    bottom: 2em;
  }
}
#atvi-hero-container .hero-navigation .hero-nav-dots .slick-dots li {
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin: 0;
}
#atvi-hero-container .hero-navigation .hero-nav-dots .slick-dots li button {
  height: 10px;
  width: 10px;
  border: 1px solid #B3B6B7;
  border-radius: 24px;
  position: relative;
  padding: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#atvi-hero-container .hero-navigation .hero-nav-dots .slick-dots li.slick-active button {
  background: white;
  border-color: white;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
/*******************************************************************
DIN NEXT Font
*******************************************************************/
.section-header {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin: 30px auto 30px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}
.noise-gif {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: .17;
  background-image: url('../images/common-noise-gif-square-anim.gif');
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}
@keyframes arrow {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    -ms-transform: translate(0, 2px);
    -o-transform: translate(0, 2px);
    transform: translate(0, 2px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 8px);
    -moz-transform: translate(0, 8px);
    -ms-transform: translate(0, 8px);
    -o-transform: translate(0, 8px);
    transform: translate(0, 8px);
  }
  75%,
  100% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0;
  }
}
.blog-aggregation {
  background-image: radial-gradient(40% 20% at 50% 0, rgba(104, 104, 104, 0.85), #111111);
  padding: 100px 0 40px;
  /*.blog-btn {
        position: relative;
        .dinot-bold();
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.31px;
        border: 1px solid @silver;
        color: @silver;
        text-align: center;
        text-decoration: none;
        padding: 15px;
        text-transform: uppercase;
        background-color: transparent;
        transition: all .2s ease;
        display: inline-block;
        outline: 0;

        @media(max-width: 768px){
            padding: 16px 60px;
        }
    }*/
  /*.blog-btn-secondary {
        color: @silver;
        border-color: @silver;
        min-width: 257px;
        border-radius: 25px;

        @media(max-width: 768px){
            min-width: 0;
        }
    }*/
  /*.blog-btn-secondary:hover {
        border-color: @blue;
        color: @white;
        background-color: rgba(7, 104, 175, 0.5);
    }*/
}
@media (max-width: 1024px) {
  .blog-aggregation {
    background: #000000;
  }
}
.blog-aggregation.button-top h2 {
  margin-bottom: 20px;
}
.blog-aggregation.button-top .blog-view-more {
  padding-top: 0;
  margin-bottom: 20px;
}
.blog-aggregation.button-middle h2 {
  margin-bottom: 20px;
}
.blog-aggregation.button-middle .blog-tabs-wrapper {
  margin-bottom: 20px;
}
.blog-aggregation.button-middle .blog-view-more {
  padding-top: 0;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .blog-aggregation {
    padding: 50px 0 70px;
  }
}
@media (max-width: 768px) {
  .blog-aggregation {
    padding: 100px 0 70px;
  }
}
.blog-aggregation .inner-container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}
.blog-aggregation h2 {
  position: relative;
  font-family: 'DIN Next LT Pro', Arial, sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 23px;
}
@media (max-width: 768px) {
  .blog-aggregation h2 {
    font-size: 30px;
    margin-bottom: 18px;
  }
}
.blog-aggregation .blog-filter {
  width: 100%;
  max-width: 350px;
  margin: 0 auto 50px;
}
.blog-aggregation .blog-filter .selectric-items {
  width: 100% !important;
}
.blog-aggregation .blog-filter .selectric .button:after {
  display: none;
}
.blog-aggregation .blog-tabs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  /*
        &[data-tab="all"] {
            .blog-tile:not([data-game="all"]) { display: none; }
        }

        &[data-tab="call-of-duty"] {
            .blog-tile:not([data-game="call-of-duty"]) { display: none; }
        }

        &[data-tab="activision"] {
            .blog-tile:not([data-game="activision"]) { display: none; }
        }

        &[data-tab="crash-bandicoot"] {
            .blog-tile:not([data-game="crash-bandicoot"]) { display: none; }
        }

        &[data-tab="spyro"] {
            .blog-tile:not([data-game="spyro"]) { display: none; }
        }

        &[data-tab="sekiro"] {
            .blog-tile:not([data-game="sekiro"]) { display: none; }
        }
        */
}
.blog-aggregation .blog-tabs-wrapper,
.blog-aggregation .blog-tabs-wrapper-mobile {
  position: relative;
  padding: 0;
  overflow: hidden;
  height: 70px;
  border-top: 1px solid #b3b6b7;
  border-bottom: 1px solid #b3b6b7;
}
.blog-aggregation .blog-tabs-wrapper {
  display: block;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .blog-aggregation .blog-tabs-wrapper {
    display: none;
  }
}
.blog-aggregation .blog-tabs-wrapper-mobile {
  display: none;
  margin-bottom: 18px;
  overflow: visible;
}
@media (max-width: 768px) {
  .blog-aggregation .blog-tabs-wrapper-mobile {
    display: block;
  }
}
.blog-aggregation .blog-tabs-list {
  position: relative;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}
.blog-aggregation .blog-tabs-item {
  width: 137px;
  height: 70px;
  position: relative;
  font-family: 'DIN Next LT Pro', Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  color: #b3b6b7;
  padding: 10px 0;
  margin: 0 10px;
  cursor: pointer;
  transition: all .3s ease;
  text-align: center;
  z-index: 2;
  border-bottom: 0px solid #0768af;
}
.blog-aggregation .blog-tabs-item img {
  filter: grayscale(1) brightness(0.65);
}
.blog-aggregation .blog-tabs-item:nth-child(2) {
  margin-left: auto;
}
.blog-aggregation .blog-tabs-item:last-of-type {
  margin-right: auto;
}
.blog-aggregation .blog-tabs-item:hover {
  color: #ffffff;
  font-weight: 700;
  background-color: rgba(7, 104, 175, 0.2);
  border-bottom: 7px solid #0768af;
  padding-bottom: 6px;
}
.blog-aggregation .blog-tabs-item:hover img {
  filter: grayscale(0) brightness(1);
}
.blog-aggregation .blog-tabs-item.active {
  color: #ffffff;
  font-weight: 700;
  background-color: rgba(7, 104, 175, 0.2);
  border-bottom: 7px solid #0768af;
  padding-bottom: 6px;
}
.blog-aggregation .blog-tabs-item.active img {
  filter: grayscale(0) brightness(1);
}
.blog-aggregation .blog-tabs-item img,
.blog-aggregation .blog-tabs-item p {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.blog-aggregation .selected-logo {
  position: relative;
  height: 70px;
  width: 100%;
  font-family: 'DIN Next LT Pro', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
}
.blog-aggregation .selected-logo p {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.blog-aggregation .selected-logo.tab-2,
.blog-aggregation .selected-logo.tab-3,
.blog-aggregation .selected-logo.tab-4,
.blog-aggregation .selected-logo.tab-5 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: content-box;
}
.blog-aggregation .selected-logo.tab-2 p,
.blog-aggregation .selected-logo.tab-3 p,
.blog-aggregation .selected-logo.tab-4 p,
.blog-aggregation .selected-logo.tab-5 p {
  display: none;
}
.blog-aggregation .selected-logo.tab-2 {
  background-image: url(../images/assets-activision-logo.png);
  background-size: auto;
}
.blog-aggregation .selected-logo.tab-3 {
  background-image: url(../images/assets-cod-logo.png);
  background-size: auto;
}
.blog-aggregation .selected-logo.tab-4 {
  background-image: url(../images/assets-thps-logo.png);
}
.blog-aggregation .selected-logo.tab-5 {
  background-image: url(../images/assets-crash-logo.png);
}
.blog-aggregation .selected-logo::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #ffffff;
  z-index: 1;
  top: 38%;
  right: 5px;
  transform: rotate(90deg);
  margin-left: 8px;
  transition: all .3s ease;
}
.blog-aggregation .down::after {
  transform: rotate(-90deg);
}
.blog-aggregation .blog-tabs-list-mobile {
  display: block;
  overflow: hidden;
  top: 100%;
  position: absolute;
  width: 100%;
  background-color: #000000;
  text-transform: uppercase;
  color: #b3b6b7;
  cursor: pointer;
  z-index: 999;
  max-height: 0;
  transition: all 0.4s ease;
}
.blog-aggregation .blog-tabs-list-mobile.down {
  max-height: 400px;
}
.blog-aggregation .blog-tabs-list-mobile .blog-tabs-item {
  width: 100%;
  border-bottom: 1px solid #b3b6b7;
  margin: auto;
}
.blog-aggregation .blog-tabs-list-mobile .blog-tabs-item img {
  border-bottom: 0px solid #0768af;
}
.blog-aggregation .blog-tabs-list-mobile .blog-tabs-item:hover,
.blog-aggregation .blog-tabs-list-mobile .blog-tabs-item.active {
  background-color: rgba(7, 104, 175, 0.5);
  border-bottom: 7px solid #0768af;
  padding-bottom: 6px;
}
.blog-aggregation .blog-tabs-list-mobile #blogLogo5 {
  border-bottom: none;
}
.blog-aggregation .blog-tabs-list-mobile #blogLogo5:hover,
.blog-aggregation .blog-tabs-list-mobile #blogLogo5.active {
  border-bottom: 7px solid #0768af;
}
.blog-aggregation .blog-tab-underline {
  visibility: hidden;
}
.blog-aggregation .blog-tile {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: radial-gradient(100% 100% at 50.52% 0%, #686868 0%, #000000 100%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  min-height: 520px;
  width: 100%;
  max-width: calc(33.3333% - 20px);
  margin: 0 10px 20px;
  overflow: hidden;
  display: none;
}
.blog-aggregation .blog-tile.all {
  display: block;
}
@media (max-width: 1024px) {
  .blog-aggregation .blog-tile {
    max-width: calc(50% - 20px);
  }
}
@media (max-width: 768px) {
  .blog-aggregation .blog-tile {
    max-width: calc(100% - 20px);
  }
}
.blog-aggregation .blog-link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-decoration: none;
  z-index: 5;
}
.blog-aggregation .blog-img-container {
  position: relative;
  flex: 1;
  transition: all .3s ease;
  overflow: hidden;
  z-index: 0;
  width: 100%;
  height: 50%;
}
@media (min-width: 769px) {
  .blog-aggregation .blog-tile:hover .blog-img-container {
    height: 40%;
  }
}
@media (max-width: 768px) {
  .blog-aggregation .blog-tile.active .blog-img-container {
    height: 40%;
  }
}
.blog-aggregation .blog-img {
  transition: all .3s ease;
  background-color: #000000;
  transform-origin: center center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: none;
  transform: scale(1) translateZ(0);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
@media (min-width: 769px) {
  .blog-aggregation .blog-tile:hover .blog-img {
    transform: scale(1.025) translateZ(0);
  }
}
@media (max-width: 768px) {
  .blog-aggregation .blog-tile.active .blog-img {
    transform: scale(1.025) translateZ(0);
  }
}
.blog-aggregation .blog-txt-container {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  transition: all .3s ease;
  padding: 26px 20px;
  color: #ffffff;
}
.blog-aggregation .blog-txt-container a {
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 769px) {
  .blog-aggregation .blog-tile:hover .blog-txt-container {
    height: 60%;
  }
}
@media (max-width: 768px) {
  .blog-aggregation .blog-tile.active .blog-txt-container {
    height: 60%;
  }
}
.blog-aggregation .blog-timestamp {
  font-family: 'DIN Next LT Pro', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.blog-aggregation .blog-headline {
  font-family: 'DIN Next LT Pro', Arial, sans-serif;
  line-height: 1.4;
  position: relative;
  font-weight: bold;
  font-size: 20px;
  max-height: 100px;
  overflow: hidden;
  transition: all .3s ease;
}
@media (min-width: 769px) {
  .blog-aggregation .blog-tile:hover .blog-headline {
    max-height: 28px;
  }
}
@media (max-width: 768px) {
  .blog-aggregation .blog-tile.active .blog-headline {
    max-height: 28px;
  }
}
.blog-aggregation .blog-divider,
.blog-aggregation .blog-divider-wrapper {
  position: relative;
  width: 100%;
  height: 10px;
  margin: 14px 0;
  z-index: 0;
}
.blog-aggregation .blog-divider-wrapper::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 93%;
  bottom: 0;
  width: 75px;
  height: 1px;
  background-color: #b3b6b7;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform-origin: 0% 0%;
  transition: all .3s ease;
}
.blog-aggregation .blog-divider::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 65px;
  height: 10px;
  background-color: #b3b6b7;
  z-index: 1;
  transition: all .3s ease;
}
.blog-aggregation .blog-divider::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 93%;
  height: 1px;
  background-color: #b3b6b7;
  z-index: 1;
  transition: all .3s ease;
}
@media (min-width: 769px) {
  .blog-aggregation .blog-tile:hover .blog-divider-wrapper:before,
  .blog-aggregation .blog-tile:hover .blog-divider:before,
  .blog-aggregation .blog-tile:hover .blog-divider:after {
    background-color: #0768af;
  }
}
@media (max-width: 768px) {
  .blog-aggregation .blog-tile.active .blog-divider-wrapper:before,
  .blog-aggregation .blog-tile.active .blog-divider:before,
  .blog-aggregation .blog-tile.active .blog-divider:after {
    background-color: #0768af;
  }
}
.blog-aggregation .blog-copy-wrapper {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: all .3s ease;
  padding-right: 15px;
}
@media (min-width: 769px) {
  .blog-aggregation .blog-tile:hover .blog-copy-wrapper {
    opacity: 1;
    visibility: visible;
    max-height: 125px;
  }
}
@media (max-width: 768px) {
  .blog-aggregation .blog-tile.active .blog-copy-wrapper {
    opacity: 1;
    visibility: visible;
    max-height: 125px;
  }
}
.blog-aggregation .blog-copy {
  line-height: 1.5;
  font-size: 14px;
}
.blog-aggregation .blog-more {
  font-family: 'DIN Next LT Pro', Arial, sans-serif;
  position: relative;
  font-size: 14px;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 0;
  transition: all .3s ease;
}
@media (min-width: 769px) {
  .blog-aggregation .blog-tile:hover .blog-more {
    color: #0768af;
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .blog-aggregation .blog-tile.active .blog-more {
    color: #0768af;
    margin-top: 15px;
  }
}
.blog-aggregation .blog-more::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #b3b6b7;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
  transition: all .3s ease;
}
@media (min-width: 769px) {
  .blog-aggregation .blog-tile:hover .blog-more:after {
    border-left-color: #0768af;
  }
}
@media (max-width: 768px) {
  .blog-aggregation .blog-tile.active .blog-more:after {
    border-left-color: #0768af;
  }
}
.blog-aggregation .blog-view-more {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .blog-aggregation .blog-view-more {
    margin-top: 30px;
  }
}
.blog-aggregation .blog-view-more a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.1;
  border: 1px solid transparent;
  padding: 1em 0;
  border-radius: 24px;
  margin: auto;
  display: block;
  text-align: center;
  transition: box-shadow 250ms ease-out, border 300ms ease-out, background 300ms ease-out;
  box-shadow: inset 0 0 0 1px #ffffff;
  font-family: 'DIN Next LT Pro', Arial, sans-serif;
  font-weight: bold;
  width: 250px;
}
.blog-aggregation .blog-view-more a:hover,
.blog-aggregation .blog-view-more a:active {
  background: rgba(7, 104, 175, 0.7);
  border: 1px solid #0768af;
  box-shadow: inset 0 0 0 2px #0768af;
}
.blog-aggregation #load-more {
  display: none;
}
@media (max-width: 768px) {
  .blog-aggregation #load-more {
    display: inline-block;
  }
}
.blog-aggregation #view-all {
  display: inline-block;
}
@media (max-width: 768px) {
  .blog-aggregation #view-all {
    display: none;
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
.section-header {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin: 30px auto 30px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}
.noise-gif {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: .17;
  background-image: url('../images/common-noise-gif-square-anim.gif');
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}
@keyframes arrow {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    -ms-transform: translate(0, 2px);
    -o-transform: translate(0, 2px);
    transform: translate(0, 2px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 8px);
    -moz-transform: translate(0, 8px);
    -ms-transform: translate(0, 8px);
    -o-transform: translate(0, 8px);
    transform: translate(0, 8px);
  }
  75%,
  100% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0;
  }
}
html {
  overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
/*******************************************************************
DIN NEXT Font
*******************************************************************/
.section-header {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin: 30px auto 30px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}
.noise-gif {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: .17;
  background-image: url('../images/common-noise-gif-square-anim.gif');
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}
@keyframes arrow {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    -ms-transform: translate(0, 2px);
    -o-transform: translate(0, 2px);
    transform: translate(0, 2px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 8px);
    -moz-transform: translate(0, 8px);
    -ms-transform: translate(0, 8px);
    -o-transform: translate(0, 8px);
    transform: translate(0, 8px);
  }
  75%,
  100% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0;
  }
}
#atvi-support {
  background: #000000;
  color: #ffffff;
  border-top: 1px solid #5A5B5C;
  border-bottom: 1px solid #5A5B5C;
  height: 100%;
  font-family: 'DIN Next LT Pro', Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2em;
}
@media only screen and (max-width: 1500px) {
  #atvi-support {
    font-size: 20px;
  }
}
#atvi-support .atvi-column-inner-container {
  height: 300px;
  justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  #atvi-support .atvi-column-inner-container {
    flex-direction: column-reverse !important;
    height: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #atvi-support .atvi-column-inner-container .atvi-support-child-resource-1-class {
    width: 29%;
  }
}
#atvi-support .support-text-container {
  height: 300px;
}
@media only screen and (max-width: 768px) {
  #atvi-support .support-text-container {
    height: 230px;
  }
}
@media only screen and (max-width: 300px) {
  #atvi-support .support-text-container {
    height: 260px;
  }
}
#atvi-support .support-text-container .support-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@media only screen and (max-width: 768px) {
  #atvi-support .support-text-container .support-text {
    text-align: center;
    width: 80vw;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
#atvi-support .support-text-container h3 {
  font-family: 'DIN Next LT Pro', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3%;
  font-size: 24px;
}
@media only screen and (max-width: 980px) {
  #atvi-support .support-text-container p {
    font-size: 16px;
  }
}
#atvi-support .support-text-container a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.1;
  border: 1px solid transparent;
  padding: 1em 0;
  border-radius: 24px;
  margin: auto;
  display: block;
  text-align: center;
  transition: box-shadow 250ms ease-out, border 300ms ease-out, background 300ms ease-out;
  box-shadow: inset 0 0 0 1px #ffffff;
  font-family: 'DIN Next LT Pro', Arial, sans-serif;
  font-weight: bold;
  margin: 5% 0 0;
  width: 225px;
}
#atvi-support .support-text-container a:hover,
#atvi-support .support-text-container a:active {
  background: rgba(7, 104, 175, 0.7);
  border: 1px solid #0768af;
  box-shadow: inset 0 0 0 2px #0768af;
}
@media only screen and (max-width: 768px) {
  #atvi-support .support-text-container a {
    margin: 5% auto 0;
  }
}
#atvi-support .support-img {
  max-height: 300px;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@media only screen and (max-width: 1800px) {
  #atvi-support .support-img {
    margin: 0;
    transform: none;
  }
}
@media only screen and (max-width: 768px) {
  #atvi-support .support-img {
    margin-left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 140%;
  }
}
#atvi-support .support-gradient {
  position: absolute;
  width: 150%;
  height: 100%;
  top: 0;
  left: -30%;
  z-index: 2;
  /*background: radial-gradient(128.52% 2961.16% at -26.01% 65%, #000000 0%, #000000 25%, rgba(0, 0, 0, 0) 59.52%, #000000 88.45%, #000000 96.05%), linear-gradient(
            90deg
            , rgba(0, 0, 0, 0) 91%, rgba(0, 0, 0, 0) 95.8%, #000000 100%, #000000 100%, rgba(0, 0, 0, 0) 100%);

        .tablet({
			background: radial-gradient(131.07% 3019.78% at -18.8% 65%, #000000 0%, #000000 8.25%, rgba(0, 0, 0, 0) 59.52%, #000000 88.45%, #000000 96.05%), linear-gradient(90deg, rgba(0, 0, 0, 0) 91%, rgba(0, 0, 0, 0) 95.8%, #000000 100%, #000000 100%, rgba(0, 0, 0, 0) 100%);
			width: 100%;
            left: 0;
        });*/
}

